<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://i.pinimg.com/originals/93/76/86/937686ff0be2010f5156f0f9fc840d94.png" alt="logo" width="64">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/precos">Tabela de preços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/barbeiros">Barbeiros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/agendamentos">Agendamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/agendamentos/add">Agendar horario</a>
            </li>
          </ul>
        </div>
      </div>
</nav>